@charset "utf-8";

/**
 * 1. Global
 */
* {
  padding: 0; 
  margin: 0;
}

body {
  background: #f3f6f3;
  margin: 0; 
  font: 76%/1.6em Verdana, Tahoma, Arial, Serif; 
  color: #333; 
  text-align: center;
}

p {
  margin: 0.7em 0;
  line-height: 1.8em;
}

dl {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0.5em;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Verdana, Arial, Serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
  color: #265e15;  
}

a:link img, a:visited img, a:hover img, a:active img {
  border: none;
  border-top: #eee 1px solid;
  border-left: #eee 1px solid;
}

.clear {
  clear: both;
  height: 20px;
}

blockquote {
  color: #666;
  margin: 1em;
  padding: 0 0 10px 50px;
  background: url(images/blockquote.gif) no-repeat left top;
}

/**
 * 2. Container
 */
#container {
  border: #ccc 1px solid; 
  background: #fff; 
  margin: 0 auto; 
  width: 780px;   
  position: relative; 
  text-align: left;
}

/**
 * 3. Navigation
 */
#navigation {
  margin: 20px auto 0; 
  overflow: hidden; 
  width: 760px; 
  position: relative; 
  text-align: left;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Serif;
}

#navigation ul {
  padding: 0; 
  margin: 0;
}

#navigation ul li {
  float: left; 
  margin: 0 5px 0 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#navigation ul li a {
  border: #ccc 1px solid; 
  border-bottom: none;
  padding: 2px 12px; 
  display: block; 
  font-weight: bold;
  color: #333;    
  text-decoration: none;
  background: #dedede;
  letter-spacing: 0px;
}

#navigation ul li a:hover, #navigation ul li a:active, #navigation ul li.active-trail a {
  background: #fff;
  color: #333;  
  border: #ccc 1px solid; 
  border-bottom:none;    
}

#navigation div.search {
  font-size: 0.9em;
  float: right;
  margin: 0 5px 0 0;
}

#navigation div.search label {
  display: none;
}

#navigation div.search input[type="text"] {
  width: 150px;
  padding: 2px;
}

#navigation div.search input[type="submit"] {
  padding: 2px;
}

/**
 * 4. Header
 */
#header {
  clear: both; 
  float: left; 
  margin: 10px 5px; 
  width: 770px;
}

#header h1 {
  font-size: 1.8em;
  margin: 10px 0 0 10px;
  font-variant: small-caps;
  letter-spacing: 0px;
  font-weight: normal;
}

#header h1 a {
  text-decoration: none;  
  border: 0;
}

#header h1 a:hover, #header h1 a:active {
  border-bottom: #963 1px solid;
}

#header .site-slogan {
  margin: 5px 0 0 10px;
  font-size: 1em;
  font-weight: normal;
  font-family: Tahoma, Verdana, Arial, Serif;
  letter-spacing: 0px;  
}

/**
 * 5. Header Image
 */
#headerimage {
  clear: both; 
  background: #fff url(images/misty.jpg) no-repeat 0 0;
  margin: 10px;   
  height: 200px;
}

/**
 * 6. Main
 */
#main {
  margin: 0 10px 0 30px;
  clear: both;
}

#main h2, #main h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.4em;
  letter-spacing: 0px;
  margin: 1em 0 0;
}

#main h4 {
  font-size: 1.1em;
  margin: 1em 0 0 0;
}

#main h5 {
  font-size: 1em;
  margin: 1em 0;
}

/**
 * 7. Main Wrapper
 */
#main-wrapper {
  float: left; 
  width: 520px;
  margin: 0 20px 10px 0;
}

/**
 * 8. Node
 */
.node {
  clear: both;
  border-bottom: #dcc 1px dashed;
  padding:0 0 2em;
}

.node .meta {
  clear: both;
  color: #999;
  font-size: 0.9em;
}

.node .content {
    clear: both;
    margin: 1em 0;
    padding-right: 1em;    
}

.node .content ul {
    margin: 0 1em;
    padding-left: 2em;
    list-style-image: url(images/bullet.png);
}

.node .content ol {
	margin: 1em;
    padding-left: 2em;
    list-style-type: decimal;
}

.node .content li {
	margin:0 0 0.3em 0;
	padding:0;
	line-height:1.6em;
}

.node .terms {
  background: transparent url(images/tag.gif) no-repeat scroll left top;
  padding: 0 0 0 20px;
}

/**
 * 9. Block
 */
.block {
  background: #EDEDED;
  margin: 0 0 1em;
  padding: 1px 10px;
}

/**
 * 10. Sidebar
 */
#sidebar {
  float: left; 
  width: 200px;
  font-size: 0.9em;
}

/**
 * 11. Footer
 */
#footer {
  clear: both;   
  background: transparent; 
  margin: 0 auto; 
  width: 780px;   
  text-align: center;
}

#footer .block {
  background: none;
}

#footer .block img {
  border: none;
}

#header, #main, #sidebar, #footer {
    overflow: hidden;
}

input.form-text, textarea, input[type="text"] {
  border:#ccc 1px solid;
  background: #fff url(images/shadow_top.gif) repeat-x;
  font:1em Verdana, Arial, Serif;
  padding: 4px;
}

input.textbox:focus, textarea:focus, input[type="text"]:focus {
  border: #999 1px solid;
}

textarea {
  width: 90%;
  padding: 10px;
  line-height: 2em;
  height: 20em;
}

.form-submit {
  border: #999 1px solid; 
  font-size: 0.9em; 
  background: #ddd;
  color: #265e15; 
  padding: 3px 5px;
}

div.messages, div.preview {
  margin: .75em 0;
}

div.status {
  color: #33a333;
  border: thin solid #33a333;
  background: #c7f2c8 url(images/correct.gif) no-repeat scroll 5px center;
  padding: 0 0 0 25px;
}

div.error {
  color: #a30000 !important;
  border: thin solid #a30000 !important;
  background: #fcc url(images/error.gif) no-repeat scroll 5px center !important;
  padding: 0 0 0 25px !important;
}

.item-list ul {
  margin: 0 0 0.75em;
  padding: 0;
}

.item-list ul.pager {
  padding: 10px 0 3px;
}

.pager strong, .pager a {
  color: #265e15 !important;
  background: #EDEDED none repeat scroll 0 0;
  border: 1px solid #265e15;
  padding: 2px 5px;
  
}

.item-list ul.pager li {
  margin:0;
  padding:0;
}

#comment-response {
  padding:1em 0 0;
}

#comments {
  border-top:1px solid #DDDDDD;
margin:1em 0;
padding:0;
}

#comments .comment {
  border-bottom: 1px solid #DDDDDD;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0.5em 0.5em 2em;
}

#comments .odd {
  background: #F9F9F9;
}

#comments .even {
  background: #ffffff;
}